<nb-card>
  <nb-card-header>
    <div class="to-do">
      <form class="inline-form" (ngSubmit)="updateListName()">
        <div class="input-group">
          <input type="text" placeholder="Name" class="form-control" (blur)="updateListName()" [(ngModel)]="listName" [ngModelOptions]="{standalone: true}" />
        </div>
      </form>
      <a class="action delete" title="Delete" (click)="deleteList()"><i class="nb-trash"></i></a>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="table-responsive" id="list_todo_{{ listId }}">
      <table class="table">
        <tr *ngFor="let item of toDos | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">
          <td>
            <div class="to-do">
              <nb-checkbox [value]="item.done" (change)=toggleToDoResult(item)></nb-checkbox>
              <form class="inline-form" (ngSubmit)="updateAToDo(item)">
                <div class="input-group">
                  <input type="text" placeholder="Name" class="form-control" (blur)="updateAToDo(item)" [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}"/>
                </div>
              </form>
              <a class="action delete" title="Delete" (click)="deleteAtoDo(item.id, i)"><i class="nb-close"></i></a>
            </div>
          </td>
        </tr>
      </table>
      <pagination-controls (pageChange)="currentPage = $event" maxSize="7" directionLinks="true" autoHide="true" previousLabel="" nextLabel=""></pagination-controls>
    </div>
    <div class="button-add">
      <a title="Add a to-do" (click)="createAToDo()">
        <i class="nb-plus"></i> <span>Add a to-do</span>
      </a>
    </div>

  </nb-card-body>
</nb-card>
